<div class="modal fade show" id="Deletebasic" tabindex="-1" role="Deletebasic" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="Activebasic" tabindex="-1" role="Activebasic" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Active Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to Active this item?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueActive" type="button" class="btn btn-primary">Active</button>
            </div>
        </div>
    </div>
</div>
<script>


    var path_to_delete;//delete script

    $(".deleteItem").click(function (e) {
        path_to_delete = $(this).data('path');
    });

    $('#btnContinueDelete').click(function () {
        window.location = path_to_delete;
    });

    var path_to_active;//active scipt

    $(".activeItem").click(function (e) {
        path_to_active = $(this).data('path');
    });

    $('#btnContinueActive').click(function () {
        window.location = path_to_active;
    });
</script>
