@model SchoolManagementSystemWebApp.VM.UserRegistrationViewModel
@{
    ViewData["Title"] = "User Login Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<form asp-action="UpdateUser">

    <h1 class="text-primary">Update Register</h1>

    <input hidden asp-for="UserRegistration.UserId" />

    <div class="row mt-3">
        <div class="col-md-4">
            <label for="userName">User Name</label>
            <input type="text" asp-for="UserRegistration.UserName" class="form-control" />
            <span asp-validation-for="UserRegistration.UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <label for="Password">Password</label>
            <input type="text" asp-for="UserRegistration.Password" class="form-control" />
            <span asp-validation-for="UserRegistration.Password" class="text-danger"></span>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-md-4 ">
            <div class="form-group">
                <label for="role">Role Name</label>
                <select asp-for="UserRegistration.RoleId" class="form-control" asp-items="@Model.RoleList">
                    <option disabled selected>--Select Role--</option>
                </select>
                <span asp-validation-for="UserRegistration.RoleId" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 ">
            <div class="form-group">
                <label for="role">Name</label>
                <select asp-for="UserRegistration.registerId" class="form-control" asp-items="@Model.RegisterList">
                    <option disabled selected>--Select Registration--</option>
                </select>
                <span asp-validation-for="UserRegistration.registerId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <button type="submit" class="btn-lg btn-success" style="margin-left:-337px;margin-top:14px">Save</button>
        </div>
        <div class="col-2 justify-content-end">
            <a asp-action="IndexUserLogin" asp-controller="User" class="btn btn-secondary btn-lg" style="margin-left:-431px;margin-top:15px">Cancel</a>
        </div>
    </div>

</form>
@section Scripts   
    {   
    <partial name="_ValidationScriptsPartial" />
                            }

