@model SchoolManagementSystemWebApp.Models.DTO.ModuleRoleMappingDTO
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="DeleteModuleMapping">
    <br />
   
</form>
@section Scripts   
    {   
    <partial name="_ValidationScriptsPartial" />
    }
